# ----------------------------------------------------------------------------------------------------------------------
# Virtual Environments
#-----------------------------------------------------------------------------------------------------------------------
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyd
*.so

#-----------------------------------------------------------------------------------------------------------------------
# PyCharm Project Files
#-----------------------------------------------------------------------------------------------------------------------
.idea/
*.iml

#-----------------------------------------------------------------------------------------------------------------------
# Data & Model Exclusion
#-----------------------------------------------------------------------------------------------------------------------
# Datasets
data/

# Large model files/weights
*.pth
*.bin
*.h5
*.onnx
*.safetensors

# Hugging Face cache directories
huggingface_cache/
hf_cache

#-----------------------------------------------------------------------------------------------------------------------
# Results and Logs
#-----------------------------------------------------------------------------------------------------------------------
results/
logs/
*.log
*.err

#-----------------------------------------------------------------------------------------------------------------------
# Local fixes
#-----------------------------------------------------------------------------------------------------------------------
cache_fix.py
evaluation/update_comet.py
