pandas
torchaudio
nemo
# ML
torch
transformers
datasets
librosa
sentencepiece

# ASR Metrics
jiwer

# MT Metrics
evaluate
nltk
sacrebleu
comet-ml

#NVIDIA NeMo (for Parakeet)
nemo_toolkit[asr]
soundfile